.modified-background{
    background:linear-gradient(90deg, rgba(51,5,17,0.6514938739167542) 0%, rgba(11,0,4,0) 47%, rgba(65,4,22,0.41900087671787467) 100%, rgba(9,9,121,1) 100%),url("images/bike-3.png");
    background-repeat: no-repeat;
   background-repeat: no-repeat;
   height:50%;
    
}